extends layout

block content
  div(ng-controller='DashboardCtrl')
    div(ng-controller='BlackjackCtrl').col-md-12.game
      div.col-md-3
        input(type='text', placeholder='Name:', ng-model="player")
        input(type='text', placeholder='Bet amount:', ng-model="betAmount")
        p Player: {{player}}
        p Wallet: {{playerWallet}}
        p Pot: {{pot}}
      div.col-md-3
        button(ng-click='deal()') Deal
        //- button(ng-click='clear()') Clear
        button(ng-click='userHit()') Hit
        button(ng-click='userStay()') Stay
        p Your Hand: {{userHandArr}} = {{userHand}}
        p Dealer's Hand:{{dealerHandArr}} = {{dealerHand}}