doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js")
    script(src='/controllers/mainController.js')
  body
    block content